.env

packages/xm_t3cmd24_sitepackage/Resources/Public/Frontend/Css
packages/xm_t3cmd24_sitepackage/Resources/Public/Frontend/JavaScript

public/_assets
public/fileadmin
public/index.php
public/typo3
public/typo3temp

var
!var/labels

vendor